node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
out/
*.tsbuildinfo

# Vite temp/cache
.vite/
vite.config.ts.timestamp-*
vite.config.js.timestamp-*
.env
.env.*
!.env.example


*.log
logs/
*.tmp
*.temp
*.swp
*.DS_Store
*.sass-cache
*.pid
*.seed
*.pid.lock

npm-debug.log*
yarn-error.log*
lerna-debug.log*

*.stackdump
*.dmp


# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd


# Linux
*~
.nfs*


# VS Code
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json



# Sublime
*.sublime-workspace
*.sublime-project

.eslintcache
.stylelintcache
.prettier-cache
tsconfig.tsbuildinfo
coverage/
.nyc_output/
jest-cache/
jest-results.json
localhost.key
localhost.crt
*.pem


.vercel/
.netlify/
firebase-debug.log
functions/lib/
functions/dist/


*.orig
*.rej
*.bak
*.backup
*.swp
*.swo
